.menu{
    width: 100%;
    height: 70px;
    background-color: #0f1524;
}
table{
    color:white;
    font-size: 12px;
    font-family: Gils;
    margin-left: 55%;
}
tr, th{
    padding: 20px;
    font-size: 16px;
    font-weight: lighter;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#lione{
    text-decoration: underline;
    color: white;
    font-weight: bolder;
    text-underline-position: under;
    font-size: 17px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    }
#img{
    width: 100%;
    height: 400px;
    text-align: center;
}
img{
    width: 100%;
    height: 300px;
}
#p1{
    margin-top: -680px;
    text-align: center;
    color: white;
    font-weight: bolder;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#p2{
 text-align: center;   
 color: white;
 font-size: 25px;
 font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#imgs{
display: flex;
width: 100%;
height: 500px;
margin-top: 350px;
margin-left: 3%;
}
#img1{
    width: 30%;
    height: 381px;
    top: 489px;
    margin-left: 5%;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
}
#img2{
    width: 30%;
    height: 357px;
    top: 489px;

    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
}
#img3{
    width: 30%;
    height: 357px;
    top: 489px;
    left: 926px;
    gap: 0px;
    border-radius: 5px 0px 0px 0px;
    opacity: 0px;
    
}

#first{
width: 350px;
height: 250px;
top: 489px;
left: 163px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}
#second{
width: 350px;
height: 250px;
top: 489px;
left: 545px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}
#third{
width: 350px;
height: 250px;
top: 489px;
left: 926px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

}
#p11{
    width: 350px;
    height: 59px;
    top: 755px;
    left: 163px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}
#p12{
    width: 353px;
    height: 48px;
    top: 822px;
    left: 162px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}
#p21{
    width: 350px;
    height: 35px;
    top: 755px;
    left: 546px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    letter-spacing: 0.30000001192092896px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}
#p22{
    width: 350px;
    height: 48px;
    top: 798px;
    left: 545px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.5px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

}
#p31{
    width: 350px;
    height: 35px;
    top: 755px;
    left: 926px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    letter-spacing: 0.41450896859169006px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}
#p32{
    width: 351px;
    height: 48px;
    top: 798px;
    left: 926px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
        
}
#secm{
width: 1040px;
height: 361px;
top: 950px;
left: 165px;
gap: 0px;
opacity: 0px;
display: flex;

}
#downimg{
width: 506px;
height: 361px;
top: 950px;
left: 165px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
margin-left: 110px;
}
.paragraphs{
margin-left: 100px;
}
#secmp1{
width: 447px;
height: 79px;
top: 950px;
left: 733px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 32px;
font-weight: 700;
line-height: 43.58px;
letter-spacing: 0.41450896859169006px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
}
#secmp2{
    width: 472px;
    height: 120px;
    top: 1075px;
    left: 733px;
    gap: 0px;
    opacity: 0px;
    font-family: Open Sans;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.5px;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;        
}
#secmbtn{
width: 184px;
height: 40px;
top: 1219px;
margin-top: -70px;
left: 733px;
gap: 0px;
border-radius: 4px 0px 0px 0px;
opacity: 0px;
background: rgb(99, 99, 214);

}

/* Second Similar part */

#sections{
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 350px;
    margin-left: 3%;
    }
#section1{
 width: 353px;
height: 381px;
top: 1391px;
left: 162px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;

        
    }
#section2{
width: 351px;
height: 357px;
top: 1391px;
left: 545px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
        
        
    }
#section3{
width: 351px;
height: 357px;
top: 1391px;
left: 926px;
gap: 0px;
border-radius: 5px 0px 0px 0px;
opacity: 0px;
    
        
    }
    
    #first1{
        width: 350px;
        height: 250px;
        top: 1391px;
        left: 163px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
        
    
    }
    #second1{
        width: 350px;
        height: 250px;
        top: 1391px;
        left: 545px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
        
    
    }
    #third1{
        width: 350px;
        height: 250px;
        top: 1391px;
        left: 926px;
        gap: 0px;
        border-radius: 5px 0px 0px 0px;
        opacity: 0px;
        
    
    }
#sp11{
width: 350px;
height: 59px;
top: 1657px;
left: 163px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 24.51px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

        
            
    }
#sp12{
width: 353px;
height: 48px;
top: 1724px;
left: 162px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

            
    }
#sp21{
width: 350px;
height: 35px;
top: 1657px;
left: 546px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 24.51px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

            
    }
#sp22{
width: 350px;
height: 48px;
top: 1700px;
left: 545px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;

    
    }
#sp31{
width: 350px;
height: 35px;
top: 1657px;
left: 926px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 18px;
font-weight: 700;
line-height: 24.51px;
letter-spacing: 0.41450896859169006px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;        
    }

#sp32{
width: 351px;
height: 48px;
top: 1700px;
left: 926px;
gap: 0px;
opacity: 0px;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;
font-family: Open Sans;
font-size: 14px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0.30000001192092896px;
text-align: left;
text-underline-position: from-font;
text-decoration-skip-ink: none;         
    }